* {
  list-style: none;
  font-family: poppins;
}
body {
  background-color: #f0f0f0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
.heading {
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 10px 0;

  color: #333;
}
.inputField {
  height: 40px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  background-color: #f0f0f0;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  border-radius: 0;
}
.inputField:focus {
  outline: 0;
}

.addTask {
  padding: 7px 20px;
  border-radius: 8px;
  border: none;
  background-color: #017ebc;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
}
.addTask:hover {
  background-color: #036494;
  transition: 0.3s all ease-in-out;
}
.addTask:focus {
  outline: 0;
}

.tasks {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.newTask {
  max-width: 800px;
  border-radius: 10px;
  border: 1px solid #888282;
  height: 60px;
  width: 80%;
  text-align: start;
  align-content: center;
  padding-left: 15px;
  align-items: center;
  white-space: nowrap;
  display: grid;
  grid-template-columns: 10% 1fr 65px 65px;
  font-size: 18px;
  overflow-x: auto;
  place-items: center;
}
.checkbox {
  border-radius: 50%;
}
.textData {
  place-self: center start;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.textData::-webkit-scrollbar {
  display: none;
}
.editTask {
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: #017ebc;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}
.editTask:hover {
  background-color: #036494;
  cursor: pointer;
}
.deleteTask {
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: #017ebc;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}
.deleteTask:hover {
  background-color: #036494;
  cursor: pointer;
}
.darkModeButton {
  position: absolute;
  top: 0;
  right: 30%;
  padding: 10px 15px;
  font-size: 40%;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  white-space: nowrap;
}
.checkBox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #017ebc;
  border: 2px solid #333;
  border-radius: 50%;
  margin-right: 10px;
}
.darkMode {
  background-color: #373c3f;
}
.darkMode .container {
  background-color: #373c3f;
}
.darkMode .heading {
  color: #fff;
}
.darkMode .inputField {
  background-color: #373c3f;
  color: #fff;
}
.darkMode .inputField::-moz-placeholder {
  color: #fff;
}
.darkMode .inputField::placeholder {
  color: #fff;
}
.darkMode .darkModeButton {
  background-color: #373c3f;
  color: #fff;
}
.darkMode .textData {
  color: #fff;
}
.darkMode .sortFilter {
  background-color: #373c3f;
  color: #fff;
}
.navIcons {
  margin-bottom: 10px;
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 15px;
}
.sortFilter {
  background-color: #f0f0f0;
  width: 80%;
  align-self: center;
  justify-self: center;
  border: none;
  outline: 0;
  text-align: center;
  font-size: 15px;
}
.sortFilter:focus {
  border: none;
  outline: 0;
}
@media (max-width: 1024px) {
  .newTask {
    width: 90%;
  }
  .darkModeButton {
    right: 10%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .darkModeButton {
    right: 0;
  }
  .textData {
    font-size: 1rem;
  }
  .heading {
    font-size: 2rem;
  }
  .inputField {
    overflow-x: auto;
  }
  .newTask {
    width: 92%;
  }
}
